In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Salary_Dataset.csv")
df.head()

,Employee_ID,Name,Age,Gender,Country,City,Education,Job_Title,Department,Experience_Years,Salary_USD,Bonus_USD,Work_Hours_Per_Week,Remote_Work,Performance_Score,Joining_Year,Contract_Type
0,1,Employee_1,58,Female,India,NY,Bachelor,Manager,IT,0,130735,3650,41,Yes,1,2015,Part-Time
1,2,Employee_2,48,Female,UK,NY,High School,Designer,HR,4,54363,14600,52,No,2,2022,Part-Time
2,3,Employee_3,34,Male,USA,London,High School,Manager,IT,1,76694,15317,51,Yes,8,2010,Part-Time
3,4,Employee_4,27,Male,UK,Karachi,Bachelor,Developer,Marketing,19,31582,19768,51,Yes,5,2004,Contract
4,5,Employee_5,40,Male,Canada,London,Master,Manager,IT,2,109910,18193,59,Yes,7,2008,Full-Time

In [5]:
df.isnull().sum()

Employee_ID            0
Name                   0
Age                    0
Gender                 0
Country                0
City                   0
Education              0
Job_Title              0
Department             0
Experience_Years       0
Salary_USD             0
Bonus_USD              0
Work_Hours_Per_Week    0
Remote_Work            0
Performance_Score      0
Joining_Year           0
Contract_Type          0
dtype: int64

In [6]:
df.columns

Index(['Employee_ID', 'Name', 'Age', 'Gender', 'Country', 'City', 'Education',
       'Job_Title', 'Department', 'Experience_Years', 'Salary_USD',
       'Bonus_USD', 'Work_Hours_Per_Week', 'Remote_Work', 'Performance_Score',
       'Joining_Year', 'Contract_Type'],
      dtype='object')